.calendar-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    position: relative;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px; /* Add some space between legend and calendar */
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 12px;
}

.legend-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.legend-label {
    color: #333;
}

.calendar-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.rbc-calendar {
    flex-grow: 1;
    font-family: Arial, sans-serif;
    height: 100% !important;
}

.rbc-header {
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0;
}

.rbc-event {
    border: none !important;
}

.rbc-event-content {
    font-size: 12px;
}

.rbc-today {
    background-color: #e6f3ff;
}

@media (max-width: 768px) {
    .legend {
        flex-wrap: wrap;
    }

    .legend-item {
        margin-bottom: 5px;
    }
}
