.password-info-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-info-icon:hover .password-requirements-popup {
    display: block;
}

.password-requirements-popup {
    display: none;
    position: absolute;
    top: -10px;
    left: calc(100% + 10px);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
}

.password-requirements-popup::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent #ccc transparent transparent;
}

.password-requirements-popup p {
    margin-top: 0;
    font-weight: bold;
}

.password-requirements-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.password-requirements-popup li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.password-requirements-popup li span {
    margin-left: 5px;
}

.valid {
    color: green;
}
