.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.form-element {
    padding: 10px;
    font-size: var(--mobile-font-size);
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
}

.tracker-box {
    font-size: 14px;
    letter-spacing: 0.09em;
    padding: 5px;
}

.tracker-box div {
    padding: 2px;
}

button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: block;
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin: 3px 0 0 0;
    padding: 10px;
}

button:hover {
    background-color: #ccc;
    color: black;
}

button#signUp {
    margin: 0;
}

#show-password {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    padding: 0;
    position: absolute;
    left: -50%;
    margin-right: 10px;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
}

input {
    border: 1px solid #ccc;
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 90%;
}

input[type="email"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid {
    color: red;
    outline-color: red;
}

label {
    display: block;
    font-size: var(--mobile-font-size);
    font-weight: 300;
    margin: 0 0 3px 0;
}

form section {
    margin-bottom: 20px;
}

@media (min-width: 450px) {
    body {
        margin: 20px 50px;
    }

    button {
        font-size: var(--desktop-font-size);
    }

    button#logIn {
        margin-top: 40px;
    }

    h1 {
        font-size: calc(2 * var(--desktop-font-size));
        margin-bottom: 80px; /* Increase margin for spacing */
    }

    input {
        font-size: var(--desktop-font-size);
    }
}

@media (min-width: 800px) {
    body {
        margin: 50px;
    }
}
