.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-form {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-element {
    padding: 10px;
    font-size: var(--mobile-font-size);
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.tracker-box {
    font-size: 14px;
    letter-spacing: 0.09em;
    padding: 5px;
}

.tracker-box div {
    padding: 2px;
}

button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: block;
    font-size: var(--mobile-font-size);
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: #ccc;
    color: black;
}

button#signUp {
    margin: 0;
}

#show-password {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
    padding: 0;
    position: absolute;
    left: -50%;
    margin-right: 10px;
}

form {
    width: 100%;
}

h1 {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    padding: 10px;
}

input {
    border: 1px solid #ccc;
    font-size: var(--mobile-font-size);
    padding: 15px;
    width: 100%;
}

input[type="email"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid {
    color: red;
    outline-color: red;
}

label {
    display: block;
    font-size: var(--mobile-font-size);
    font-weight: 300;
    margin-bottom: 5px;
}

form section {
    margin-bottom: 20px;
}

@media (min-width: 450px) {
    .signup-form {
        width: 70%;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    input {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    .signup-form {
        width: 50%;
    }
}
